    <div class="indicator bool-indicators">
        <h1 class="text3d">Operational System</h1>
        <app-bool-car-indicator title="Brakes" [color]='(dataDistrebuterService.brake$ |async )|boolToColor'></app-bool-car-indicator>
        <app-bool-car-indicator title="Bspd" [color]='(dataDistrebuterService.bspd$|async )|boolToColor'></app-bool-car-indicator>
        <app-bool-car-indicator title="Cerror" [color]='(dataDistrebuterService.cerror$|async )|boolToColor'></app-bool-car-indicator>
        <app-bool-car-indicator title="Perror" [color]='(dataDistrebuterService.perror$|async )|boolToColor'></app-bool-car-indicator>
        <app-bool-car-indicator title="Terror" [color]='(dataDistrebuterService.terror$|async )|boolToColor'></app-bool-car-indicator>
    </div>