.display {
    position: relative;
    /* transform: scale(0.2); */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.segment {
    height: 25px;
    width: 3px;
    background-color: #990000;
    border-radius: 9999px;
    box-shadow: 0px 0px 5px #990000;
}

.A {
    position: absolute;
    top: -9px;
    left: 18px;
    transform: rotate(90deg);
}

.B {
    position: absolute;
    top: 4px;
    left: 32px;
}

.C {
    position: absolute;
    top: 30px;
    left: 32px;
}

.D {
    position: absolute;
    top: 43px;
    left: 18px;
    transform: rotate(90deg);
}

.E {
    position: absolute;
    top: 30px;
    left: 4px;
}

.F {
    position: absolute;
    top: 4px;
    left: 4px;
}

.G {
    position: absolute;
    top: 17px;
    left: 18px;
    transform: rotate(90deg);
}

.dot{
    position: absolute;
    top: 50px;
    left: 30px;
    height: 6px;
    width: 6px;
    background-color: #990000;
    border-radius: 500;
    box-shadow: 0px 0px 5px #990000;
}