.onoffswitch {
    position: relative;
    width: 100px;
    margin-left: 65px;
    margin-top: 15px;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 25px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 38px;
    padding: 0;
    line-height: 38px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 15px;
    background-color: #1cad40;
    color: #ffffff;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    background-color: #a32424;
    color: #9c9c9c;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 20px;
    margin: 9px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    border: 2px solid #999999;
    border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}