/* CSS From internet */

html {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgba(206, 188, 155, 1);
    background: -moz-linear-gradient( -45deg, rgba(206, 188, 155, 1) 0%, rgba(85, 63, 50, 1) 51%, rgba(42, 31, 25, 1) 100%);
    background: -webkit-gradient( left top, right bottom, color-stop(0%, rgba(206, 188, 155, 1)), color-stop(51%, rgba(85, 63, 50, 1)), color-stop(100%, rgba(42, 31, 25, 1)));
    background: -webkit-linear-gradient( -45deg, rgba(206, 188, 155, 1) 0%, rgba(85, 63, 50, 1) 51%, rgba(42, 31, 25, 1) 100%);
    background: -o-linear-gradient( -45deg, rgba(206, 188, 155, 1) 0%, rgba(85, 63, 50, 1) 51%, rgba(42, 31, 25, 1) 100%);
    background: -ms-linear-gradient( -45deg, rgba(206, 188, 155, 1) 0%, rgba(85, 63, 50, 1) 51%, rgba(42, 31, 25, 1) 100%);
    background: linear-gradient( 135deg, rgba(206, 188, 155, 1) 0%, rgba(85, 63, 50, 1) 51%, rgba(42, 31, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1);
}

h1 {
    /* width: 100%; */
    margin: 0 auto 0 auto;
    font-family: "Lato", sans-serif;
    /* line-height: 280px; */
    font-size: 1.5rem;
    padding: 30px;
    text-align: left;
    margin-left: 200px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}


/*	
========================
			3D Effect
========================
*/

.text3d {
    color: red;
    letter-spacing: 0.15em;
    text-shadow: -1px -1px 0px white, 0px -5px 35px darkred;
}