.app-wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.app-container {
    background-image: url("src\assets\background.jpg");
    background-repeat: round;
    background-size: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-indicators {
    margin-top: 4%;
    flex-basis: 30%;
}

app-numeric-indicator {
    margin-top: 4%;
    flex-basis: 40%;
}

app-car-action-buttons {
    margin-top: 4%;
    flex-basis: 30%;
}

app-footer {
    height: 80px;
    width: 100%;
    opacity: 0.8;
}